.flip-card {
    width: 300px;
    height: 300px;
    perspective: 800px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front img,
  .flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the container */
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    transform: rotateY(180deg) scaleX(-1);

  }

  .flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the container */
    filter: blur(2px); /* Adjust the blur intensity as needed */
    transform: scaleX(-1); /* Flip the image horizontally, make it 20% bigger, and move it to the middle */
}

